---
published: true
---
<!DOCTYPE html>
<html>
{% include head.html %}
<body>
<div class="container">
    {% include header.html %}

    <p><b>Clibana</b> is small <a href="http://clojure.org/">Clojure</a> based library that serves to programatically
        create documents that represent <a href="https://github.com/elasticsearch/kibana">Kibana 4</a> objects. This is,
        using Clibana's (hopefully) fluent API, you can create documents that will represent Kibana's saved search,
        visualization, or dashboard objects. Also, as Kibana is all about searching stuff, API to define query is also
        available. To open specific Kibana object in the browser, possibly with extra parameters, API for building
        Kibana URL's is here as well.</p>

    <p>Clibana can be used both in Clojure and ClojureScript!</p>

    <p>To learn more about how to produce individual objects, see examples and instructions in</p>

    <ul>
        <li><a href="saved-search.html">Saved search</a></li>
        <li><a href="visualization.html">Visualization</a></li>
        <li><a href="dashboard.html">Dashboard</a></li>
        <li><a href="query.html">Query</a></li>
        <li><a href="url.html">URL</a></li>
    </ul>

    {% include footer.html %}
</div>
</body>
</html>
