<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/resources/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/resources/font-awesome-4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/resources/css/syntax.css" rel="stylesheet">
    <link href="/resources/css/clibana.css" rel="stylesheet">
    <script src="/resources/js/jquery.min.js"></script>
    <script src="/resources/js/bootstrap.min.js"></script>
    <link rel="icon" type="image/x-icon" href="http://martinhynar.github.io/clibana/icon.ico">
    <meta charset="utf-8">
    <title>Clibana</title>
</head>
